<!-- Carousel Start -->
<div class="carousel">
    <div class="animated">
    <div class="container-fluid">
        
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="../assets/img/carousel-1.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>Washing & Detailing</h3>
                    <h1>Keep your Car Newer</h1>
                    <p>
                        Caring for your vehicle is our business. You need oxygen, your car needs a wash.
                    </p>
                    <a class="btn btn-custom" href="">Explore More</a>
                </div>
            </div>
            
        
    </div>
</div>
</div>
<!-- Carousel End -->

